.mb-opened {
    overflow: hidden;
}

/* overlay */
.mb-popup-overlay {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDcwNzA3IiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(7, 7, 7, 0.7) 50%, rgba(14, 14, 14, 0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(50%, rgba(7, 7, 7, 0.7)), color-stop(100%, rgba(14, 14, 14, 0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(7, 7, 7, 0.7) 50%, rgba(14, 14, 14, 0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(7, 7, 7, 0.7) 50%, rgba(14, 14, 14, 0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(7, 7, 7, 0.7) 50%, rgba(14, 14, 14, 0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(7, 7, 7, 0.7) 50%, rgba(14, 14, 14, 0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#b30e0e0e', GradientType=0); /* IE6-8 */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.mb-popup-container.mb-no-view {
    display: none;
}

/* popup general */
.mb-popup-wrapper {
    background-color: white;
    padding: 6px;
    z-index: 999;
}

.mb-popup-wrapper.mb-popup-custom-default {
    padding: 0;
}

.mb-popup-wrapper.mb-popup-custom-default p {
    margin: 0;
}

.mb-popup-wrapper .mb-popup-border {
    margin: 20px;
}

.mb-popup-wrapper.mb-popup-custom-default .mb-popup-border {
    margin: 0;
}

.mb-popup-wrapper a.close {
    width: 30px;
    height: 30px;
    background: transparent url('../images/close-popup.png') top left no-repeat;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 1;
    cursor: pointer;
}

/* Top - Title */

.mb-popup-title {
    text-align: center;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
}

/* Newsletter Popup */
.mb-newsletter-description {
    text-align: center;
    font-size: 16pt;
    line-height: 1;
    margin: 20px 0;
    font-style: italic;
}

form.mb-newsletter-form {
    width: 50%;
    margin: auto;
}

.mb-newsletter-form button.action.subscribe.primary {
    width: 100%;
    margin-top: 5px;
}

/* Newsletter Popup */
.mb-contact-description {
    text-align: center;
    font-size: 16pt;
    line-height: 1;
    margin: 20px 0;
    font-style: italic;
}

/* Login Form Popup */
.mb-login-container {
    margin-top: 10px;
}

/* Media Queries */

@media (min-width: 980px) {

    .mb-popup-wrapper {
        max-width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .mb-popup-wrapper {
        max-width: 80%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {

    .mb-popup-wrapper {
        max-width: 90%;
    }

}

@media (max-width: 479px) {

    .mb-popup-wrapper {
        max-width: 90%;
    }

}