<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tigren" translate="label" sortOrder="9000">
            <label>Tigren</label>
        </tab>
        <section id="ajaxlogin" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ajax Login</label>
            <tab>tigren</tab>
            <resource>Tigren_Ajaxlogin::config_ajaxlogin</resource>

            <!--AJAX LOGIN General-->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Ajax Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="login_destination" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Destination Page After Login</label>
                    <source_model>Tigren\Ajaxlogin\Model\Config\Source\Redirect</source_model>
                </field>
                <field id="slide_animation" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Slide Animation</label>
                    <source_model>Tigren\Ajaxlogin\Model\Config\Source\SlideAnimation</source_model>
                </field>
            </group>

            <group id="social_login" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Social Login</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Social Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="facebook_appid" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Facebook App Id</label>
                    <comment><![CDATA[Go to <a href="https://developers.facebook.com/apps" target="_blank">here</a> to create facebook app]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="googleplus_clientid" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Google+ Client Id</label>
                    <comment><![CDATA[Go to <a href="https://console.developers.google.com/iam-admin/projects" target="_blank">here</a> to create google+ projects and client ID]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="twitter_consumer_key" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Twitter Consumer Key</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="twitter_consumer_secret" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Twitter Consumer Secret</label>
                    <comment><![CDATA[Go to <a href="https://apps.twitter.com" target="_blank">here</a> to create twitter app]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
<!--                <field id="send_pass" translate="label" type="select" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send Password Reminder Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>-->
            </group>
        </section>
    </system>
</config>