<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ajaxsuite>
            <general>
                <enabled>1</enabled>
                <enabled_popupttl>1</enabled_popupttl>
                <popupttl>10</popupttl>
            </general>
            <effects>
                <animation>2</animation>
                <background_color>#ededed</background_color>
                <header_background_color>#400b8f</header_background_color>
                <header_text_color>#fff</header_text_color>
                <button_text_color>#fff</button_text_color>
                <button_background_color>#006bb4</button_background_color>
            </effects>
        </ajaxsuite>
    </default>
</config>