<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tigren" class="tigren-config-tab" translate="label" sortOrder="9000">
            <label>Tigren</label>
        </tab>
        <section id="ajaxcart" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ajaxcart</label>
            <tab>tigren</tab>
            <resource>Tigren_Ajaxcart::config_ajaxcart</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Ajax Add to Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Message After Adding Products to Cart</label>
                </field>
                <field id="addtocart_btn_class" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Add to Cart Button Class</label>
                </field>
                <field id="show_cart_info" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Show Cart Information in Success Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_related_products" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Show Related Products in Success Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>