<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml">
            <module name="Tigren_Popup" before="Magento_Backend"/>
        </route>
    </router>
</config>
