<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BannermanagerGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Tigren\Bannermanager\Api\Data\BlockInterface" type="Tigren\Bannermanager\Model\Block" />
    <virtualType name="BlockGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Tigren\Bannermanager\Model\Resource\Block\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BannermanagerGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\Bannermanager\Model\ResourceModel\Block\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_bannermanager_block</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Bannermanager\Model\ResourceModel\Block</argument>
        </arguments>
    </virtualType>

    <preference for="Tigren\Bannermanager\Api\Data\BannerInterface" type="Tigren\Bannermanager\Model\Banner" />
    <virtualType name="BannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Tigren\Bannermanager\Model\Resource\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BannermanagerGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\Bannermanager\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_bannermanager_banner</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Bannermanager\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bannermanager_block_listing_data_source" xsi:type="string">Tigren\Bannermanager\Model\ResourceModel\Block\Grid\Collection</item>
                <item name="bannermanager_banner_listing_data_source" xsi:type="string">Tigren\Bannermanager\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>

